.notes-area {
    height: calc(100vh - var(--input-field__height) - var(--header__height) - 2*var(--notes-section__margin-y));
    border: 1px solid #dce1e6;
    padding: 0 36px;
    background-color: white;
}

.notes-area-fill {
    color: black;
    overflow-y: scroll;
}

.notes-area-empty {
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
