.send-button {
    margin-left: 10px;
    background: none;
    border: none;
}

.disabled {
    opacity: .4 !important;
}

img {
    animation: 0.15s linear 0s im-zoom-appear;
    opacity: .6;
}

img:hover {
    opacity: .7;
}

img:active {
    opacity: .8;
}