:root {
    --search-field-height: 60px;
}

.search-field {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 16px 8px;
    padding-left: 24px;
    background-color: white;
    border: 1px solid #dce1e6;
    height: var(--search-field-height);
    border-bottom: none;
}


.search-input {
    width: -webkit-fill-available;
    border: none;
    margin-right: 8px;
    outline: none;
}

.icon {
    padding: 12px;
    background-color: transparent;
}

.search-btn, .reset-btn {
    padding: 0 16px;
    border-radius: 10px;
    border: none;
    height: 28px;
    cursor: pointer;
}

.search-btn {
    background-color: #447bba;
    color: white;
}
.search-btn:hover {
    background-color: rgb(68, 123, 186, .9);
}

.reset-btn {
    background-color: #e5ebf1;
    color: #346297;
}
.reset-btn:hover {
    background-color: rgb(219, 226, 235);
}

.choose-date-btn {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.choose-date-btn, .search-btn, .reset-btn {
    margin-right: 8px;
}

.date-picker {
    width: 85px;
    height: 28px;
}
