.note {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    
}

p { margin-left: 20px; }

.note-options {
    display: flex;
    flex-direction: row-reverse;
}

.note-item_btn {
    background: transparent;
    border: none;
    padding: 0 10px;
}
.note-item_btn>img {
    width: 20px;
    opacity: .8;
}

.hide {
    display: none;
}

.emitted {
    background-color: #F0F2F5;
}
