.note {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

p { margin-left: 20px; }

.note-options {
    display: flex;
}

.note-item_btn {
    background: transparent;
    border: none;
    padding: 0 10px;
}
.note-item_btn>img {
    width: 20px;
    opacity: .8;
}