.auth-form {
    padding: 0 10px;
    width: 70%;

    display: flex;
    align-content: space-between;
    align-items: center;
    flex-direction: column;
}

.data-fields {
    margin-top: 30px;
}

.input {
    padding: 10px;
    outline: none;
    margin-top: 20px;
    margin-bottom: 10px;

    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    height: 36px;
    padding: 8px 12px;
    line-height: 20px;
    
}
.input:focus {
    outline: 1px solid blue;
}

.button {
    font-size: inherit;
    padding: 10px 0;
    margin-top: 20px;
    
    background-color: #07F;
    color: #FFF;
    border: none;
    border-radius: 8px;
}



@media (max-width: 820px) {
    .auth-form { width: 80%; }
}
@media (max-width: 420px) {
    .auth-form { width: 100%; }
}
