.notes-area {
    height: calc(100vh - var(--header__height) - var(--search-field__height) - var(--note-form__height) - 2*var(--notes-section__margin-y));
    border: 1px solid #dce1e6;
    padding: 0 10px;
    background-color: white;
    margin: 0;
}

.notes-area-fill {
    color: black;
    overflow-y: scroll;
}

.notes-area-empty {
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
