.input-field {
    height: var(--input-field__height);
    padding: 15px 20px;
    margin-bottom: calc(var(--notes-section__margin-y) / 2);
    border: 1px solid #dce1e6;
    border-top: none;
    background-color: #fafbfc;

    display: flex;
    flex-direction: row;
}
