.input-field {
    padding: 15px 20px;
    border: 1px solid #dce1e6;
    border-top: none;
    background-color: #fafbfc;
    height: var(--input-field__height);

    display: flex;
    flex-direction: row;
}
