:root {
    --header__height: 62px;
}

header {
    height: var(--header__height);
    background-color: white;
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-item {
    background: transparent;
    border: none;
    height: calc(32px + 2*15px);
    padding: 0;
}
.header-item>img {
    height: 32px;
    margin: 15px;
    opacity: .8;
}
.header-item:hover {
    background: #f5f6f8;
}
.header-item:active {
    background: #E5E6EA;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
}