.send-button {
    margin-left: 10px;
    background: none;
    border: none;
}

.disabled {
    opacity: .3 !important;
}

img {
    animation: 0.15s linear 0s im-zoom-appear;
    opacity: .4;
}

img:hover {
    opacity: .5;
}

img:active {
    opacity: .6;
}