* {
    box-sizing: border-box;
}

:root {
    --input-field__height: 115px;
    --notes-section__margin-y: 15px;
}

.notes-list {
    border: 1px solid #dce1e6;
    padding: 0 15px;
    background-color: white;
}
