:root {
    --header__height: 62px;
}

header {
    height: var(--header__height);
    background-color: white;
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header>button {
    background: transparent;
    border: none;
    height: fit-content;
    padding: 0;
}
header>button>img {
    height: 32px;
    margin: 15px;
}
header>button:hover {
    background: #f5f6f8;
}
header>button:active {
    background: #E5E6EA;
}