section {
    margin: 15px 0;
    padding: 0 15px;
    background-color: white;
    width: 100%;
    font-size: 13px;
}

.data-fields { display: flex; flex-direction: column; }
.data-fields>label { margin-top: 10px; }

label {
    display: grid;
    grid-template-columns: 20% 50% 20%;
    grid-gap: 5%;

    margin: 10px 0;
    padding: 8px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    color: #626d7a;
}

a, .text { text-decoration: none; padding: 8px 0; }
a:hover { text-decoration: underline; cursor: pointer; }

.auth-link {
    text-align: end;
    color: #2a5885;
}

.gate-link {
    display: block;
    margin: 15px 0;
    color: blue;
}
