section {
    margin: 15px 0;
    padding: 0 15px;
    background-color: white;
    width: 100%;
    font-size: 13px;
}

.data-fields {
    display: flex;
    flex-direction: column;
}

.data-fields>label { margin-top: 10px; }

label {
    display: grid;
    grid-template-columns: 20% 50% 20%;
    align-items: center;
    grid-gap: 5%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    
    color: #626d7a;
}


a { text-decoration: none; }
a:hover { text-decoration: underline; }

.auth-link {
    text-align: end;
    color: #2a5885;
}

.gate-link {
    display: block;
    margin: 15px 0;
    color: blue;
}


.input {
    border-radius: 8px;
    background-color: transparent;
    color: black;
    
    height: 36px;
    margin: 10px 0;
    padding: 8px 12px;
    line-height: 20px;
    
}
.input:focus { outline: none; }

.info-input {
    border: none;
    outline: none;
}

.edit-input {
    border: 1px solid rgba(0, 0, 0, 0.7);
}

.button {
    width: fit-content;
    padding: 0px 30px;
    margin-top: 20px;
}
