.App {
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  background-color: #edeef0;
  height: 100vh;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 550px;
}
