* {
    box-sizing: border-box;
}

:root {
    --input-field__height: 115px;
    --notes-section__margin-y: 15px;
}

.NotesSection {
    margin: var(--notes-section__margin-y) 0;
}

.notes-area {
    color: black;
    border: 1px solid #dce1e6;
    overflow-y: scroll;
    height: calc(100vh - var(--input-field__height) - var(--header__height) - 2*var(--notes-section__margin-y));
    padding: 0 36px;
    background-color: white;
}

.notes-area div>div p { margin-left: 20px; }

.input-field {
    padding: 15px 20px;
    border: 1px solid #dce1e6;
    background-color: #fafbfc;
    height: var(--input-field__height);

    display: flex;
    flex-direction: row;
    /* align-items: flex-end; */
}

.input-field textarea {
    resize: none;
    padding: 10px 15px;
    width: -webkit-fill-available;
}

.input-field button {
    margin-left: 10px;
}

.input-field img {
    animation: 0.15s linear 0s im-zoom-appear;
    opacity: .5;
}
.input-field img:hover {
    opacity: 1;
}
.input-field img:active {
    opacity: .4;
}


