* {
    box-sizing: border-box;
}

:root {
    --input-field__height: 115px;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.notes-area {
    color: aqua;
    overflow-y: scroll;
    height: calc(100vh - var(--input-field__height));
}

.input-field {
    padding: 15px 20px;
    border: 1px solid #dce1e6;
    background-color: #fafbfc;
    height: var(--input-field__height);

    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.input-field textarea {
    resize: none;
    padding: 10px 15px;
}

.input-field button {
    background: none;
    border: none;
}
.input-field img {
    animation: 0.15s linear 0s im-zoom-appear;
    opacity: .5;
}
.input-field img:hover {
    opacity: 1;
}
.input-field img:active {
    opacity: .4;
}


